<%= form_with(model: @comment, local: true) do |form|%>
  <h1>ツイート一覧</h1>
    <table>
      <tr>
        <th>ツイート内容</th>
      </tr>
      <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= link_to "詳細を見る", comment_path(comment.id) %></td>
      </tr>
      <% end %>
    </table>
    <%= link_to "新規作成する", new_comment_path %>
<% end %>
