<%= form_with(model: @comment, local: true) do |form|%>
  <h1>ツイート一覧</h1>
    <table>
      <tr>
        <th>ツイート内容</th>
      </tr>
      <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
      </tr>
      <% end %>
    </table>
<% end %>
